* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: #f9faf8;
    font-weight: bold;
    padding: 5px 15px;
}

header, #mainFooter {
    padding: 25px 200px;
}

header, #mainFooter {
    color: #f9faf8;
    background-color: #1f2937;
}

header {
    height: 400px;
}

#headerLogo {
    margin-right: auto;
}

header nav {
    display: flex;
    gap: 8px;
}

header nav a {
    color: #e5e7eb;
    text-decoration: none;
}

#hero {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

#heroDesc {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 45%;
}

#heroMainText {
    font-weight: bolder;
    font-size: 48px;
}

#heroSubtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

#heroPlaceholder {
    flex: auto;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 25px 250px;
}

.information {
    text-align: center;
}

.container {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
}

.imgPlaceholder {
    border-radius: 15px;
    width: auto;
    height: 150px;
    border: 2px solid #3882f6;
}

.subContainer {
    width: 150px;
    font-size: 18px;
}


#mainFooter {
    text-align: center;
}